        @media (max-width: 640px) {
            section#contenedor {
                width: 50%;
            }
            section img {
                display: block;
                width: 50%;
            }
        }