        @media (max-width: 640px) {
            aside {
                width: 100%;
            }
            section img {
                display: block;
                width: 100%;
            }
        }