/*****************************
**********  BODY  ************
*****************************/

html {
    background-color: #f5b369;
}

body {
    width: 90%;
    position: relative;
    background-color: rgb(168, 235, 195);
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
}


/*****************************
*********  HEADER  ***********#009a00
*****************************/

header {
    border-radius: 20px;
    background-color: #f5b369;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}

h1 {
    text-align: center;
    color: black;
}


/*****************************
***********  NAV  ************
*****************************/

nav li {
    position: relative;
    display: inline-block;
    width: 250px;
}

ul.tablas {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 60px;
}

ul.tablas li {
    background-color: white;
    float: none;
    display: inline-block;
    border-radius: 20px;
}

nav img {
    width: 13%;
    height: 13%;
}


/*****************************
**********  ASIDE  ***********
*****************************/

aside {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.banner {
    width: 46%;
    height: 45%;
    border-radius: 10px;
}

.ofertas {
    width: 25%;
    height: 45%;
    border-radius: 10px;
}


/*****************************
*********  SECTION  **********
*****************************/

section {
    position: relative;
    display: inline-block;
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
    color: blue;
}

section img {
    position: relative;
    display: inline-block;
    height: 275px;
    width: 275px;
    border-radius: 10px;
}


/******************************
*********  ARTICLE  **********
******************************/

article {
    position: relative;
    display: inline-block;
    text-align: center;
    color: black;
}

div {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}


/*****************************
*********  FOOTER  ***********
*****************************/

footer {
    text-align: center;
    background-color: #f5b369;
    padding: 20px;
    border-radius: 20px;
}

fieldset {
    width: 500px;
    height: auto;
    margin: auto;
}

legend {
    color: blue;
}


/*****************************
*****  VERSION MOBILE  *******
*****************************/

@media screen and (max-width:480 px) {
    body {
        width: 100%;
    }
    article {
        float: none;
        width: 100%;
    }
    aside {
        width: 100%;
    }
}